/* Alles */

* {
    font-family: 'Rubik', sans-serif;
}

/* Banner */
.typewriter-container {
    background-image: url('../image/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.typewriter-text {
    overflow: hidden;
    border-right: 0.15em solid royalblue; /* Adjust the color and size of the blinking cursor */
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation:
            typing 3.5s steps(40, end),
            blink-caret 0.75s step-end 10ms;
    color: #fff; /* Text color */
    font-size: 70px;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: royalblue;
    }
}
/* Producten*/
.box1 {
    padding-left: 180px;
}
.product-card {
    border: 1px solid #e3e3e3;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

/* Product fotos */
.product-img {
    height: 200px;
    object-fit: cover;
}

.product-card .card-body {
    padding: 15px;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    display: flex;
    justify-content: space-between;
}

.product {
    flex: 0 0 20%; /* Adjust the width as needed */
    margin-right: 10px; /* Add spacing between products */
}

.product img {
    max-width: 100%;
    height: auto;
}

/* Quote */

.quote {
    background-color: royalblue;
    padding: 70px 0;
    text-align: center;
}

.quotetext {
    font-size: 24px;
    font-style: italic;
    color: #ffffff;
}

.quote-image {
    max-width: 40%;
    height: auto;
}


.review-section {
    background-color: white;
    padding: 20px 0;
}

.review-card {
    background-color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.review-rating {
    font-size: 24px;
    color: #ff9900;
}

.review-author {
    font-size: 18px;
    font-weight: bold;
}

.review-text {
    font-size: 16px;
}