body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0055FF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.product-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 120px;
}
.product-title {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}

.product-image img {
    max-width: 100%;
    height: auto;
    width: 50%;
    float: left;
}

.product-description {
    color: #555;
    margin: 10px 0;
    width: 50%;
    float: left;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 50px;
}

.cta-button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 50px;
}